#main-content {
  padding-top: calc(6rem);
  padding-bottom: 6rem;
  width: 100%;
}
  
@include media-breakpoint-up(lg) {
  #main-content {
    padding-top: calc(6rem);
    padding-bottom: 6rem;
  }
}
