[submodule "infuser-protobuf"]
	path = infuser-protobuf
	url = https://gitlab.com/promptech1/data-infuser/infuser-protobuf.git
[submodule "src/lib/infuser-protobuf"]
	path = src/lib/infuser-protobuf
	url = https://gitlab.com/promptech1/data-infuser/infuser-protobuf.git
