extends ../layout

block content
  ol.breadcrumb
    li.breadcrumb-item.active 
        a(href="/metas") API 관리
        
  .card.mb-3
    .card-header
      i.fas.fa-table
        span.ml-3 API 메타 정보 등록

    .card-body
      .row
        .col-6
          form(action="/metas", method="post", enctype="multipart/form-data")
            div.form-group
              label(for="tableNameInput") 메타데이터명을 입력해주세요.
              input.form-control(type="text", name="title", id="tableNameInput", required=true)
            div.form-group
              label(for="fileUploadInput") xlsx 파일을 업로드하세요
              input.form-control-file(type="file", name="upload", multiple="multiple", id="fileUploadInput", required=true)
            div.form-group
              label(for="skipInput") 상단 skip할 row count
              input.form-control(type="number", name="skip", id="skipInput",  step=1, value=0)
            div.form-group
              label(for="sheetInput") sheet number
              input.form-control(type="number", name="sheet", id="sheetInput",  step=1, value=0)
            
            input.btn.btn-outline-primary(type="submit", value="Upload")