html(lang='en')
  head
    meta(charset='utf-8')
    meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport')
    link(href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css")
    link(href="/css/bootstrap.css" rel="stylesheet")
    link(href="/style/main.scss" rel="stylesheet")
    link(href="/css/sb-admin.css" rel="stylesheet")
    script(src='/vendor/jquery/jquery.min.js')
    script(src="/js/bootstrap.bundle.min.js")
    script(src='/js/sb-admin/sb-admin.min.js')
    
  body
    nav.navbar.navbar-expand.navbar-dark.bg-dark.static-top
      a.navbar-brand.mr-1(href='/home') 관리자페이지
      button#sidebarToggle.btn.btn-link.btn-sm.text-white.order-1.order-sm-0(href='#')
        i.fas.fa-bars

      // Navbar Search
      .d-none.d-md-inline-block.form-inline.ml-auto.mr-0.mr-md-3.my-2.my-md-0
          
      // Navbar
      ul.navbar-nav.ml-auto.ml-md-0
        li.nav-item.dropdown.no-arrow
          a#userDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
            i.fas.fa-user-circle.fa-fw
            |  #{current_user.username}
          .dropdown-menu.dropdown-menu-right(aria-labelledby='userDropdown')
            a.dropdown-item(href='#') change password
            .dropdown-divider
            a.dropdown-item(href='#' data-toggle='modal' data-target='#logoutModal') Logout

    #wrapper
      // Sidebar
      ul.sidebar.navbar-nav
        li.nav-item.dropdown
          a#pagesDropdown.nav-link.dropdown-toggle(href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
            span API 관리
          .dropdown-menu(aria-labelledby="pagesDropdown")
            a.dropdown-item(href="/metas") API 관리
            a.dropdown-item(href="#") -
        li.nav-item
          a.nav-link(href="#")
            span 사용자 관리

      #content-wrapper
        .container-fluid
          if flashMessages
            each texts, type in flashMessages
              .container
              .alert.alert-dismissible.fade.show(class=`alert-${type}`)
                each msg in texts
                  | #{msg} 
                button.close(type='button', data-dismiss='alert', aria-label='close')
                  span(aria-hidden='true') &times;
          block content
            
          // Sticky Footer
          footer.sticky-footer
              .container.my-auto
                  .copyright.text-center.my-auto
                      span Copyright &copy; Your Website 2019

      // Scroll to Top Button
      a.scroll-to-top.rounded(href='#page-top')
          i.fas.fa-angle-up
      // Logout Modal
      #logoutModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
          .modal-dialog(role='document')
              .modal-content
                  .modal-header
                      h5#exampleModalLabel.modal-title 로그아웃
                      button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                  .modal-body 로그아웃 하시겠습니까?
                  .modal-footer
                      button.btn.btn-secondary(type='button' data-dismiss='modal') 취소
                      a.btn.btn-primary(href='/logout') 로그아웃

block script



