extends ../layout

block content
  ol.breadcrumb
    li.breadcrumb-item.active 
        a(href="/applications") Application 관리

  .card.mb-3
    .card-header
      i.fas.fa-table
        span.ml-3 Application 생성

    .card-body
      .row
        .col-6
          form(action=`/applications`, method="post")
            div.form-group.mt-3
              label(for="nameSpaceInput") NameSpace
              span.ml-3.d-inline-block.badge.badge-pill.badge-secondary(data-container="body" data-toggle="popover" data-placement="right" data-content="NameSpace에 따라 API 의 url이 생성됩니다.\n ex)example.com/api/NameSpace") i
              input.form-control(type="text", name="nameSpace", id="nameSpaceInput", required=true)
            div.form-group.mt-3
              label(for="titleInput") title
              span.ml-3.d-inline-block.badge.badge-pill.badge-secondary(data-container="body" data-toggle="popover" data-placement="right" data-content="API명을 입력해 주세요. API 명세 최상단에 표시됩니다.") i
              input.form-control(type="text", name="title", id="titleInput", required=true)
            div.form-group.mt-3
              label(for="descriptionInput") description
              span.ml-3.d-inline-block.badge.badge-pill.badge-secondary(data-container="body" data-toggle="popover" data-placement="right" data-content="API에 대한 설명을 입력해주세요.") i
              textarea.form-control(name="description", id="descriptionInput", required=true, rows="5")
            .text-right
              input.btn.btn-outline-primary(type="submit", value="저장")

block script      
  script.
    $(document).ready(function() {
      $('[data-toggle="popover"]').popover()
    })