extends ../layout

block content
  ol.breadcrumb
    li.breadcrumb-item.active 
        a(href="/apis") API 관리

  .card.mb-3
    .card-header
      i.fas.fa-table
        span.ml-3 API 목록

    .card-body
      .table-responsive
        table.table.table-bordered(width='100%' cellspacing='0')
          thead
              tr
                th id  
                th API명
                th table명
                th Column수
                th 데이터수
          tbody
            each api in apis
              tr
                td #{api.id}
                td 
                  a(href=`/apis/${api.id}`) #{api.title}
                td #{api.tableName}
                td 0
                td 0
