extends ../layout

block content
  ol.breadcrumb
    li.breadcrumb-item.active 
        a(href="/apis") API 관리
        
  .card.mb-3
    .card-header
      i.fas.fa-table
        span.ml-3 API 메타 정보 등록

    .card-body
      .row
        .col-6
          form(action="/apis", method="post", enctype="multipart/form-data")
            div.form-group
              label(for="tableNameInput") api명을 입력해주세요.
              input.form-control(type="text", name="title", id="tableNameInput")
            div.form-group
              label(for="fileUploadInput") xlsx 파일을 업로드하세요
              input.form-control-file(type="file", name="upload", multiple="multiple", id="fileUploadInput")
            
            input.btn.btn-outline-primary(type="submit", value="Upload")