extends ../../layout

block content
  ol.breadcrumb
    li.breadcrumb-item.active 
      a(href="/metas") 메타 관리
      | /
      a(href=`/metas/${meta.id}`) 메타 상세보기
      | / API 생성
        
  .card.mb-3
    .card-header
      i.fas.fa-table
        span.ml-3 API 생성

    .card-body
      .row
        .col-6
          form(action=`/metas/${meta.id}/apis`, method="post")
            .form-group
              label(for="apiNameInput") 배포할 API명을 입력해주세요. ex- 공공마스크 재고 현황
              input.form-control(type="text", name="apiName", id="tableNameInput")
            .form-group
              label(for="entityNameInput") Entity 명을 입력해주세요. api 호출 url에 사용됩니다. ex- mask
              input.form-control(type="text", name="entityName", id="entityNameInput")
            .form-group.form-check
              input.form-check-input(type="checkbox", id="idAutoGenerate", name="needId")
              label.form-check-label(for="idAutoGenerate") id 컬럼 생성
            
            input.btn.btn-outline-primary(type="submit", value="submit")
      