extends ../../layout

block content
  ol.breadcrumb
    li.breadcrumb-item.active 
      a(href="/metas") 메타 관리
      | /
      a(href=`/metas/${meta.id}`) 메타 상세보기
      | / API 생성
        
  .card.mb-3
    .card-header
      i.fas.fa-table
        span.ml-3 API 생성

    .card-body
      .row
        .col-6
          form(action=`/metas/${meta.id}/api`, method="post")
            div.form-group
              label(for="tableNameInput") api명을 입력해주세요.
              input.form-control(type="text", name="tableName", id="tableNameInput")
            
            input.btn.btn-outline-primary(type="submit", value="submit")
      