extends ../layout

block content
  ol.breadcrumb
    li.breadcrumb-item.active 
        a(href="/applications") Application 관리
        | /
        a(href=`/applications/${application.id}`) Application 관리
        | / API 추가
        
  .card.mb-3
    .card-header
      i.fas.fa-table
        span.ml-3 API 추가

    .card-body
      .row
        .col-6
          form(action=`/applications/${application.id}/services`, method="post")
            include _form

block script      
  script.
    $(document).ready(function() {
      $('[data-toggle="popover"]').popover()
    })